.post-container__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    gap: 15px;
}

.post-title {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* border: solid black 1px;
    padding: 15px;
    border-radius: 10px; */
}

.post-footer {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    width: 80%;
    /* border: solid black 1px;
    padding: 15px;
    border-radius: 10px; */
}

.post-title__category > * {
    font-size: 16px;
}

.post-title__title > * {
    font-size: 32px;
}

.post-title__icons {
    display: flex;
    gap: 5px;
    width: 105px;
}

.post-footer__reactions-container {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.btn__new-comment {
    margin-left: 120px;
}

.comment-form {
    margin-left: 120px;
    display: flex;
    gap: 10px;
}

.comment-form__input {
    width: 75%;
}