.category-input-container{
    max-width: 25rem;
}
.category-box-container{

    max-width: 25rem;

}


.category-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}